@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000;
}
.tilted-image {
    transform-origin: top left;
    transform: rotate(3deg);
}

